html
	background fondo
body
	font-size 16px
	background  fondo
	margin 0
	padding 0
	a:link{color: #FFF; text-decoration: none}
	a:active{color: #FFF; text-decoration: none}
	a:visited{color: #FFF; text-decoration: none}
	p
		text-align justify
		
	.base_whiteframe
		margin-top 10px