header
	width 100%
	height 93px;
	background #FFFFFF
	
	.menu
		color #084B8A
		padding-right 15px
	.titulo
		color #FFF
		padding-left 15px
	.boton
		&:hover
			color #FFF
		.icono
			color #FFF
			font-size 1.5em
	.items_header
		height 93px