.books_container
	.container_title
		padding-bottom 15px
		padding-top 25px
		font-size 1.7em
		color azul
		strong
			border-bottom 4px solid vinetas
	.container_search
		margin-top 15px
		height 40px
		border 1px solid titulo
		background blanco
		margin-bottom 40px
		.select_box
			position relative
			.select_icon
				position absolute
				top 12px
				right 4px
				z-index 1
			select
				position absolute
				top 0
				left 0
				z-index 2
				width 100%
				height 39px
				border none
				appearance none
				-moz-appearance none
				-webkit-appearance none
				background none
				color titulo
				border-right 1px solid titulo
		.search_box
			height 39px
			border-right 1px solid titulo 
			input
				width 100%
				height 39px
				border none
				appearance none
				-moz-appearance none
				-webkit-appearance none
				background none
				font-size 1.2em
				padding-left 15px
		.search_boton
			width 100%
			height 40px
			padding 0
			&:hover
				color titulo
			.icono
				color titulo 
				font-size 1.5em
	
	.container_nombre
		padding-bottom 20px
		border-bottom 1px solid barmenu
		span
			color titulo
			font-size 1.5em
		.icono
			color vinetas
			font-size 1.1em
			line-height 1.5em

	.container_bookslist
		padding 15px 0px
		margin 10px
		.bookslist_items
			cursor pointer
			width 175px
			margin 10px
			word-wrap break-word
			figure
				overflow hidden
				width 100%
				height 230px
				margin 0
				padding 0
				img 
					width 100%
					height 100%
			.items_name
				text-transform uppercase
				padding 5px 0px
				color titulo
				font-size 0.7em
			.items_subname
				color titulo
				font-size 0.7em
				.icono
					color vinetas