.books_container
	background #FFF
	.container_title
		padding 15px
		background #204B9B
		color #FFF
	.container_search
		padding 20px
		background #EFEFEF
	.container_bookslist
		padding 15px 0px
		margin 10px
		border 1px solid #EFEFEF
		.bookslist_items
			width 125px
			height 200px
			margin 10px
			word-wrap break-word
			figure
				width 123px
				height 150px
				margin 0
				padding 0
				img
					width 100%
					height 100%
			.items_name
				color #204B9B
				font-size 0.9em
			.items_subname
				color rgba(0,0,0,.2)
				font-size 0.8em