.bookshow_container
	figure
		overflow hidden
		width 200px
		height 300px
		margin 0
		padding 0
		img 
			width 100%
			height 100%
	.titulo
		border-bottom 1px solid #000
		i
			color vinetas
		span
			color titulo