.books_container
	background #FFF
	.container_title
		padding 15px
		background #204B9B
		color #FFF
	.container_search
		padding 20px
		background #EFEFEF
		.search_icon
			height 38px
			color #898989
			font-size 1.2em
			i
				margin-right 15px
		.search_text
			color #898989
		.search_box
			background #FFF
			input
				width 100%
				border none
				appearance none
				-moz-appearance none
				-webkit-appearance none
				background none
	.container_bookslist
		padding 15px 0px
		margin 10px
		border 1px solid #EFEFEF
		.bookslist_items
			width 125px
			height 200px
			margin 10px
			word-wrap break-word
			figure
				width 123px
				height 150px
				margin 0
				padding 0
			.items_name
				padding 5px 0px
				color #204B9B
				font-size 0.9em
			.items_subname
				color rgba(0,0,0,.2)
				font-size 0.8em