.bookshow_container
	.pic_box
		margin-bottom 17px
		figure
			overflow hidden
			width 200px
			height 300px
			margin 0
			padding 0
			img 
				width 100%
				height 100%
	.titulo
		border-bottom 1px solid barmenu
		margin-bottom 10px
		padding-bottom 10px
		i
			color vinetas
			font-size 1.2em
		span
			color titulo
			text-transform uppercase
			font-size 1.2em
	.info
		span
			padding 2px 0px
			color titulo
			font-size 0.9em
		ul
			margin 0
			padding 0
			text-decoration none
			list-style-type none
			li
				padding-left 20px
				color titulo
				font-size 0.8em
	.link
		margin-top 20px
		margin-bottom 20px
		color azul
		span
			a
				color azul
			&:hover
				border-bottom 3px solid azul
				cursor pointer
			
.backBooks
	font-size 1.2em
	margin-top 20px
	margin-bottom 20px