.menu
	color  azul
	padding-right 15px
	ul
		text-decoration none
		list-style-type none	
		li
			text-align center
			width 80px
			height 30px
			cursor pointer
			float left
			a
				color azul
		.menu_active_tab
			border-bottom 4px solid vinetas