<div layout="column" class="books_container">
    <div flex class="container_title">
        LIBROS
    </div>
    <div flex class="container_search">
        <div layout="row">
            <div flex="10" class="search_icon" layout layout-align="end end">
                <i class="mdi mdi-magnify"></i>
            </div>
            <div flex="80" flex-sm="90">
                <div layout="column">
                    <div flex class="search_text">
                        <small>
                            <em>Busque el libro que desee</em>
                        </small>
                    </div>
                    <div flex>
                        <div class="search_box">
                            <input type="text"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div infinite-scroll="scrollActive()" infinite-scroll-distance="0" infinite-scroll-disabled='scrollVisible'>
        <div flex class="container_bookslist">
            <section layout="row" layout-wrap >
                <article flex-gt-md="25" flex-gt-sm="33" flex-sm="50" layout layout-align="center center" data-ng-repeat="book in books">
                    <div layout="column" class="bookslist_items">
                        <figure>
                            <img src="{{book.cover}}" />
                        </figure>
                        <div class="items_name">
                            <strong>
                                nombre
                            </strong>
                        </div>
                        <div class="items_subname">
                            subnombre
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>
    
</div>