.home_container
	.home_title
		padding-bottom 15px
		padding-top 25px
		font-size 1.7em
		color azul
		strong
			border-bottom 4px solid vinetas
	.home_banner
		figure
			overflow hidden
			padding 0
			border-bottom 1px solid barmenu
			img 
				width 100%
				padding-bottom 17px