i
	color vinetas
	font-size 1.1em
	margin-bottom 10px
	
.home_container
	.info
		color titulo
		text-align justify
		padding-bottom 120px
		.intro
			margin-bottom 30px
		.separador
			margin-bottom 30px
		.titulo
			font-size 1.7em
			margin-bottom 10px
			
			