<div layout="column" class="books_container">
    <div flex class="container_title" layout layout-align="center center">
        <div> 
            BIBLIOTECA<strong>VIRTUAL</strong>
        </div>
    </div>
    <div flex>
        <div layout="row" layout layout-align="center center">
            <div flex="60" flex-sm="95" class="container_search">
                <div layout="row">
                    <div flex="90" class="search_box">
                        <input type="text" placeholder="Ingrese su busqueda" />
                    </div>
                    <div flex>
                        <md-button class="search_boton" aria-label="searchboton" >
                            <i class="mdi mdi-magnify icono"></i>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div flex>
        <div layout="row" layout layout-align="center center">
            <div flex="80" flex-sm="100" class="container_nombre">
                <i class="mdi mdi-play icono"></i><span>LIBROS</span>
            </div>
        </div>
    </div>
    <div flex class="container_bookslist">
        <div layout="row" layout-wrap >
            <div flex-gt-md="25" flex-gt-sm="33" flex-sm="50" layout layout-align="center center">
                <div layout="column" class="bookslist_items">
                    <figure>
                        <img src="http://lorempixel.com/g/123/150/" />
                    </figure>
                    <div class="items_name">
                        <strong>
                            nombre
                        </strong>
                    </div>
                    <div class="items_subname">
                        subnombre
                    </div>
                </div>
            </div>
            <div flex-gt-md="25" flex-gt-sm="33" flex-sm="50" layout layout-align="center center">
                <div layout="column" class="bookslist_items">
                    <figure>
                        <img src="http://lorempixel.com/g/123/150/" />
                    </figure>
                    <div class="items_name">
                        <strong>
                            nombre
                        </strong>
                    </div>
                    <div class="items_subname">
                        subnombre
                    </div>
                </div>
            </div>
            <div flex-gt-md="25" flex-gt-sm="33" flex-sm="50" layout layout-align="center center">
                <div layout="column" class="bookslist_items">
                    <figure>
                        <img src="http://lorempixel.com/g/123/150/" />
                    </figure>
                    <div class="items_name">
                        <strong>
                            nombre
                        </strong>
                    </div>
                    <div class="items_subname">
                        subnombre
                    </div>
                </div>
            </div>
            <div flex-gt-md="25" flex-gt-sm="33" flex-sm="50" layout layout-align="center center">
                <div layout="column" class="bookslist_items">
                    <figure>
                        <img src="http://lorempixel.com/g/123/150/" />
                    </figure>
                    <div class="items_name">
                        <strong>
                            nombre
                        </strong>
                    </div>
                    <div class="items_subname">
                        subnombre
                    </div>
                </div>
            </div>
            <div flex-gt-md="25" flex-gt-sm="33" flex-sm="50" layout layout-align="center center">
                <div layout="column" class="bookslist_items">
                    <figure>
                        <img src="http://lorempixel.com/g/123/150/" />
                    </figure>
                    <div class="items_name">
                        <strong>
                            nombre
                        </strong>
                    </div>
                    <div class="items_subname">
                        subnombre
                    </div>
                </div>
            </div>
            <div flex-gt-md="25" flex-gt-sm="33" flex-sm="50" layout layout-align="center center">
                <div layout="column" class="bookslist_items">
                    <figure>
                        <img src="http://lorempixel.com/g/123/150/" />
                    </figure>
                    <div class="items_name">
                        <strong>
                            nombre
                        </strong>
                    </div>
                    <div class="items_subname">
                        subnombre
                    </div>
                </div>
            </div>
            <div flex-gt-md="25" flex-gt-sm="33" flex-sm="50" layout layout-align="center center">
                <div layout="column" class="bookslist_items">
                    <figure>
                        <img src="http://lorempixel.com/g/123/150/" />
                    </figure>
                    <div class="items_name">
                        <strong>
                            nombre
                        </strong>
                    </div>
                    <div class="items_subname">
                        subnombre
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>