<div layout="row" layout layout-align="center">
    <div flex="80">
    	<section>
		    <article flex>
		        <div layout="row" layout-sm="column" class="bookshow_container" layout layout-align="center">
					<div flex="30" flex-md="50" class="pic_box" flex-sm="100" layout layout-align="center">
						<figure>
							<img data-ng-src="{{bookcontent.cover}}" alt="bookshowsingle">
						</figure>
					</div>
					<div flex flex-md="50" flex-sm="100">
						<div layout="column">
							<div flex class="titulo">
								
									<i class="mdi mdi-play icono"></i>	
									<span>{{bookcontent.title}}</span>
								
							</div>
							<div flex class="info">
								<div layout="column">
									<span>AUTORES:</span>
									<ul>
										<li data-ng-repeat="auth in bookcontent.author">{{auth.name}}</li>
									</ul>
									<span data-ng-if="bookcontent.publisher">EDITORIAL: {{bookcontent.publisher.name}}</span>
									<span data-ng-if="bookcontent.career">CARRERAS:</span>
									<ul data-ng-if="bookcontent.career">
										<li data-ng-repeat="career in bookcontent.career">{{career.name}}</li>
									</ul>
									<span data-ng-if="bookcontent.line">LINEA DE INVESTIGACION:</span>
									<ul data-ng-if="bookcontent.line">
										<li>{{bookcontent.line.name}}</li>
									</ul>
									<span data-ng-if="bookcontent.ubication">UBICACION: {{bookcontent.ubication}}</span>
									<span data-ng-if="bookcontent.dewey">CATEGORIA:</span>
									<ul data-ng-if="bookcontent.dewey">
										<li >Cota: {{bookcontent.dewey.id}}</li>
										<li >Descripcion: {{bookcontent.dewey.description}}</li>
									</ul>
									<span data-ng-if="bookcontent.pages">PAGINAS: {{bookcontent.pages}}</span>
									<span data-ng-if="bookcontent.year">AÑO: {{bookcontent.year}}</span>
									<span data-ng-if="bookcontent.isbn">ISBN: {{bookcontent.isbn}}</span>
								</div>
							</div>
							<div flex data-ng-if="bookcontent.abstract_pdf" class="link">
								<span hide-sm hide-md>
									<a href="{{bookcontent.abstract_pdf}}" target="_blank">
										IR AL RESUMEN
									</a>
								</span>
								<span hide-gt-md>
									<a href="{{bookcontent.abstract_pdf}}" target="_blank">
										DESCARGAR RESUMEN
									</a>
								</span> 
							</div>
							<div flex data-ng-if="bookcontent.is_public && bookcontent.abstract_pdf" class="link">
								<span hide-sm hide-md>
									<a href="http://localhost:8000{{bookcontent.is_public}}" target="_blank">
										IR AL TET
									</a>
								</span>
								<span hide-gt-md>
									<a href="http://localhost:8000{{bookcontent.is_public}}" target="_blank">
										DESCARGAR TET
									</a>
								</span> 
							</div>
							<div flex data-ng-if="bookcontent.is_public && !bookcontent.abstract_pdf" class="link">
								<span hide-sm hide-md>
									<a href="http://localhost:8000{{bookcontent.is_public}}" target="_blank">
										IR AL DOCUMENTO
									</a>
								</span>
								<span hide-gt-md>
									<a href="http://localhost:8000{{bookcontent.is_public}}" target="_blank">
										DESCARGAR DOCUMENTO
									</a>
								</span> 
							</div>
						</div>
					</div>
		         </div>
		    </article>
		    <div>
		    	<md-button type="submit" class="backBooks" aria-label="backBooks" data-ng-click="bookshow('hola')">
		            <i class="mdi mdi-keyboard-backspace"></i>
		        </md-button>
		    </div>
		</section>
    </div>
</div>


