<div class="home_container">
    <div flex class="home_title" layout layout-align="center">
        <div> 
            BIBLIOTECA<strong>VIRTUAL</strong>
        </div>
    </div>
    <div class="home_banner" flex layout layout-align="center">
        <figure>
            <img src="http://ujgh.edu.ve/images/baners/Paz3.jpg" />
        </figure>
    </div>
    <div flex class="intro" layout layout-align="center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nulla obcaecati aliquid ipsa vel possimus, illum eum necessitatibus quaerat libero dolore, atque, quod distinctio reiciendis quibusdam. Doloremque consequuntur fugit, esse.
    </div>
</div>