<div class="home_container">
    <div flex class="home_title" layout layout-align="center">
        <div> 
            BIBLIOTECA<strong>VIRTUAL</strong>
        </div>
    </div>
    <div class="home_banner" flex layout layout-align="center start">
        <figure>
            <img src="http://ujgh.edu.ve/images/baners/Paz3.jpg" />
        </figure>
    </div>
    <div layout="row" layout layout-align="center" class="info">
        <div flex="70">
            
            <div flex class="intro">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nulla obcaecati aliquid ipsa vel possimus, illum eum necessitatibus quaerat libero dolore, atque, quod distinctio reiciendis quibusdam. Doloremque consequuntur fugit, esse.
            </div>

            
            <div layout="row" layout-sm="column" layout layout-align="center start">
                <div class="separador" flex="45" flex-sm="100">
                    <div layout="column">
                        <div flex layout layout-align="start center">
                            <i class="mdi mdi-play icono"></i>
                            <span class="titulo">Vision</span>
                        </div>
                        <div flex>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit similique ex, corporis, nisi voluptas illum veritatis ea eligendi, reprehenderit, commodi ipsa quibusdam ab in quas? Quia quis, alias doloribus totam!
                        </div>
                    </div>
                </div>
                <div flex="5" class="border" hide-sm></div>
                <div flex="5" hide-sm></div>
                <div  class="separador" flex="45" flex-sm="100">
                    <div layout="column">
                        <div flex layout layout-align="start center">
                            <i class="mdi mdi-play icono"></i>
                            <span class="titulo">Mision</span>
                        </div>
                        <div flex>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit similique ex, corporis, nisi voluptas illum veritatis ea eligendi, reprehenderit, commodi ipsa quibusdam ab in quas? Quia quis, alias doloribus totam!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>