<div class="home_container">
    <div flex class="home_title" layout layout-align="center">
        <div> 
            BIBLIOTECA<strong>VIRTUAL</strong>
        </div>
    </div>
    <div class="home_banner" flex layout layout-align="center">
        <figure>
            <img src="http://ujgh.edu.ve/images/baners/Paz3.jpg" />
        </figure>
    </div>
    <div layout="row" layout layout-align="center center">
        <div flex="80">
            <div flex class="intro" layout layout-align="center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nulla obcaecati aliquid ipsa vel possimus, illum eum necessitatibus quaerat libero dolore, atque, quod distinctio reiciendis quibusdam. Doloremque consequuntur fugit, esse.
            </div>
            <div layout="row">
                <div flex="50" >
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit similique ex, corporis, nisi voluptas illum veritatis ea eligendi, reprehenderit, commodi ipsa quibusdam ab in quas? Quia quis, alias doloribus totam!
                </div>
                <div flex="50" >
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam hic earum dignissimos, iusto molestiae maxime minima incidunt ipsum qui! Accusamus eum nemo explicabo adipisci, laborum vitae fugiat sapiente itaque.
                </div>
            </div>
        </div>
    </div>
</div>